*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'proxima-nova',Arial,Helvetica ,sans-serif;
}



@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
    .head{
    display:flex;
      padding-top: 40px;
    }
    .signup{
      padding-top: 30px;
      padding-left:100px;
      flex:2;
    }
    .hunger{
      font-weight:600px;
    }
    
    .but{
      border-radius: 0;
      

    }
    .logo{
      width:200px;
      height:82.65px;
    }

    form.search input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid #fc8019;
      float: left;
      width: 80%;
      height: 40px;
      background: #f1f1f1;
    }
    form.search button{
      height:40px;
      border: 1px solid #fc8019;
      background: #fc8019;
      color: #fff;
    }
    .leftside,.rightside{
    
    width: 100%;  

    }
    .leftside{

     padding-left: 50px;

    }
    @media only screen  and (max-width:767px){
    
.rightside{
  height:444px;
}
    }
    @media only screen  and (max-width:900px){
    
      .signup{
        padding-left:0px;
        margin-left:20px;
      }
  
    }

    .para{
      font-size: 24px;
    font-weight: 300;
    width:auto;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    letter-spacing: -.3px;
    color: #686b78;

    }
    .para2
    {
      font-weight: 400;
      font-size: 15px;
      color: #a9abb2;
      margin: 30px 0 10px;
      letter-spacing: -.2px;
      text-transform: uppercase;

    }
    .cities{
      width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    }
.city{
  display: inline-block;
  padding: 0;
}

.city_style{
  font-weight: 600;
  font-size: 16px;
  margin-right: 8px;

  line-height: 1.5;
  letter-spacing: -.3px;
}
.city_style2{
  font-weight: 600;
  font-size: 16px;
  margin-right: 8px;
  color: #686b78;
  line-height: 1.5;
  letter-spacing: -.3px;
}


.d2{
  background: #2b1e16;

  
  width: 100%; 

}
.txt{
  color:white;
  text-align:center;

}
.txt2{
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.txt3{
  font-size: 15px;


  color: #e        <div>
  <h3 class="para2">POPULAR CITIES IN INDIA</h3>

   <ul class="cities">
       <li class="city city_style">Ahmedabad</li>
       <li class="city city_style2">Bangalore</li>
       <li class="city city_style">Chennai</li>
       <li class="city city_style2">Delhi</li>
       <li class="city city_style">Gurgaon</li>
       <li class="city city_style2">Hyderabad</li>
       <li class="city city_style">kolkata</li>
       <li class="city city_style2">Mumbai</li>
       <li class="city city_style">Pune</li>
       <li class="city city_style2">& more</li>

   </ul>

</div>
  

padding-top: 80px;
  text-align:center;
}
.txt4{

  font-size: 40px;
  font-weight: 600;
  width: auto;
  line-height: 1;
  letter-spacing: -.45px;
}
.txt5{

  font-size: 20px;
    width: auto;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
    line-height: 1.2;
}



.d4{padding-top: 100px;

}
.d41{
  background-color:black;
}
.d42{
  padding-top:20px;
    text-align: center;
    color:white;
    font-size: 20px;
    letter-spacing: -.6px;
}
.d43{
  color:white;
padding-top: 20px;
padding-left: 40px;
}
.d431{
  padding-left: 20px;
  font-size:1em;
 
}
.d431 :hover{
  font-size:1.5em;
  

}
